@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  font-size: .9rem;
  font-weight: 300;
  margin: 0px;
  height: 100%;
  text-align: center;
}

button,
label[for="audioFileUpload"] {
  border-radius: 20px;
  border-style: unset;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .85rem;
  font-weight: 500;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

input[type="file"] {
  display: none;
}

p {
  margin: .5rem;
  padding-top: 1rem;
}

#titleBar {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: medium;
}

body {
  background-color: white;
  color: black;
}

button,
label[for="audioFileUpload"] {
  background-color: #008069;
  color: white;
}

button:hover,
label[for="audioFileUpload"]:hover {
  background-color: #017561;
}

#titleBar {
  background-color: #F0F2F5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111B21;
    color: white;
  }

  button,
  label[for="audioFileUpload"] {
    background-color: #00a884;
    color: black;
  }

  button:hover,
  label[for="audioFileUpload"]:hover {
    background-color: #06CF9C;
  }

  #titleBar {
    background-color: #222E35;
  }
}